<!DOCTYPE html>
<html>
<head>
  <title>My Events</title>
</head>
<body>

  <h1>We have these Events:</h1>

  #foreach($event in $events)
     <div>
       ${event.name}, from <b>${event.group.name}</b> at <b>${event.venue.name}</b>
     </div>
     <br>
  #end

</body>
</html>
